/** Basic styles **/

body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
  font-size: 1.1em;
  padding: 7px 0 0 10px;
  font-weight: normal;
}

h2 {
    font-weight: normal;
    font-size: 1.1em;
    margin: 0px;
}

/** Structure **/

#container {
  /* width: 560px; */
  margin: 0;
  border: 0;
  width: 860px;
}

#header {
  background-image: url(../images/back_top.png);
  padding: 4px 10px 0px 10px;
  height: 35px;
}

#content {
  background-image: url(../images/back_center.png);
  color: #333;
  margin-left: 5px;
}

.view {
    padding: 10px 10px 10px 20px;
    height: 400px;
    max-height: 400px;
    max-width: 550px;
    overflow: auto;
    -apple-dashboard-region:dashboard-region(control rectangle 0px 0px 0px 0px);
}

#footer {
  background-image: url(../images/back_bottom.png);
  height: 23px;
  padding: 2px 0 0 20px;
  font-size: 0.6em;
}



/** Button styles **/

#controlbuttons {
  float: right;
}
.controlbutton {
  opacity: 0.3;
  overflow: hidden;
  height: 30px;
  width: 30px;
  background-position: left top;
  border: 0;
}
#flipbutton {
  background: transparent url(../images/btn_config.png) scroll no-repeat 0 0;
}
#closebutton {
  background: transparent url(../images/btn_close.png) scroll no-repeat 0 0;
}

/** Button effects **/

/* #container:hover.controlbutton {
  opacity: 0.3;
} */
#container .controlbutton:hover {
  opacity: 1.0;
}
#container .controlbutton:active {
  opacity: 1.0;
  background-position: left bottom;
}








#main-map {
	position:relative;
	width:550px;
	height:275px;
	background:url(../images/map.jpg) no-repeat;
	text-align:left;
	margin:0px;
	padding:0px;
	border:#999 1px solid;
}


/* Left information panel */
#info-panel {
    position: absolute;
    top: 47px;
    left: 565px;
    width: 300px;
    height: 277px;
    background-color: #99f;
    overflow: auto;
}

a.location {
	display:block;
	position:absolute;
	text-indent:-9999px;
	background:url(../images/point.png) no-repeat;
	width:10px;
	height:10px;
	outline:none;
	z-index:10;
	text-decoration:none;
}
a.location:hover {
	background:url(../images/point-hover.png) no-repeat -1px -1px;
}
a.location.needmoney {
	background:url(../images/point-deficit.png) no-repeat;
}

.loan-location {
        font-weight: bold;
        margin-left: 8px;
        font-size: 13pt;
}
.loan-title {
        font-weight: bold;
}
.loan-info {
        clear: both;
        font-size: 10pt;
        padding: 5px;
}
.odd {
        background-color: #bbf;
}
.even {
        background-color: #99f;
}
.loan-info .loan-title {
        font-size: 11pt;
}
.loan-info .loan-title a {
        text-decoration: none;
}
.loan-info img {
        float: right;
        margin-left: 5px;
        margin-bottom: 5px;
}
.loan-info .loanuse {
}
.loan-info .loanstatus {
        font-size: 85%;
        font-style: italic;
}
.loan-info .loansectoractivity {
        clear: both;
        font-style: italic;
}
.instructions {
        font-style: italic;
}
